// Variables
// *------------------------------------------------*
$color-white: #FAFAFA;
$color-black: #111122;
$color-grey: #121212;
$color-red: #fc575e;
$color-primary: #B71BB7;
$color-secondary: #8E158E;
$color-tertiary: #350835;
$header-gradient: linear-gradient(90deg, rgba(183,27,183,1) 0%, rgba(142,21,142,1) 50%, rgba(53,8,53,1) 100%);

$radius-2: 2px;
$radius-4: 4px;
$radius-6: 6px;
$radius-10: 10px;
